.nunito-<uniquifier> {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body {
    margin: 0;
    border: box;
    background-color: #447FDC;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

a {
    color: white;
    cursor: pointer;
}

h2 {
    color: black;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: solid, 7px, white;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 4));
}

main {
    background-color: #CCCCCC;


}

footer {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .img-grid {
        display: grid;
        grid-template-columns: 1fr, 300px;
        gap: 10px;
        justify-content: center;
        margin: 0 auto;
    }

    .menu-btn {
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 20px;
    }

    nav {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .img-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

}

@media screen and (min-width: 1300px) {
    .img-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .menu-btn {
        display: none;
    }

    nav {
        display: block;
    }
}